@keyframes slide-in-from-left {
  from {
    translate: -100vw 0;
  }
}

@keyframes slide-in-from-right {
  from {
    translate: 100vw 0;
  }
}

@keyframes slide-out-to-left {
  to {
    translate: -100vw 0;
  }
}

@keyframes slide-out-to-right {
  to {
    translate: 100vw 0;
  }
}


html:active-view-transition-type(nav-forwards) {
  &::view-transition-old(page) {
    animation-name: slide-out-to-left;
  }

  &::view-transition-new(page) {
    animation-name: slide-in-from-right;
  }
}

html:active-view-transition-type(nav-backwards) {
  &::view-transition-old(page) {
    animation-name: slide-out-to-right;
  }

  &::view-transition-new(page) {
    animation-name: slide-in-from-left;
  }
}

html:active-view-transition-type(nav-forwards, nav-backwards) {
  :root {
    view-transition-name: none;
  }
}

body {
  margin: 0 auto;
  width: 600px
}

img {
  width: 100%;
}

.page1 {
  background-color: white;
}

.cat {
  background-color: pink;
}

.cat .left-right {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}
